.catalog {
  padding: 30px 30px 0;
  box-sizing: border-box;

  &__list {
    .reset-list();
  }

  &__info {
    padding: 30px;
  }

  &__title {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: @black;
  }

  &____specs {
    font-size: 13px;
  }

  &__price {
    line-height: 24px;
    font-weight: 700;
    color: @black;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    &__item {
      display: flex;
      justify-content: space-between;
    }

    &__info {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      flex-direction: column;
    }
  }
}
