.contacts {
  padding: 39px 0;

  &__title {
    margin-bottom: 10px;
  }

  &__table {
    border-collapse: collapse;
    margin-bottom: 22px;

    td {
      padding: 0;
      padding: 15px 0;
      padding-right: 30px;
      vertical-align: top;
    }

    a {
      .reset-link();
      position: relative;
      color: @grey;

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: @downy;
      }

      &:hover,
      &:focus {
        color: @downy;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  &__map {
    height: 457px;
    margin-bottom: 39px;
    background-image: url("../../img/map-mobile@1x.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    display: flex;
    flex-direction: column;
    padding: 62px 0 58px;

    &__title {
      margin-left: -3px;
      margin-bottom: 35px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: -15px;
        right: 4px;
        width: 47px;
        height: 82px;
        background-image: url("../../img/icon-flag.svg");
        background-repeat: no-repeat;
      }
    }

    &__table {
      width: 100%;
      font-size: 17px;
      margin-bottom: 40px;

      tbody {
        display: flex;
        vertical-align: top;
      }
    }

    &__item {
      width: 50%;
    }

    &__btn {
      margin: 0 auto;
      width: 230px;
    }

    &__map {
      background-image: url("../../img/map-tablet@1x.jpg");
      margin-bottom: 56px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1050px;
    margin: 0 auto;
    padding-bottom: 108px;

    &__container {
      flex-basis: 350px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding-left: 175px;
      padding-top: 70px;
      box-sizing: border-box;
    }

    &__title::after {
      top: -7px;
      right: auto;
      left: -108px;
    }

    &__table tbody {
      flex-direction: column;

      tr {
        width: 100%;
      }
    }

    &__map {
      flex-basis: 350px;
      min-height: 457px;
      margin-bottom: 0;
      background-image: url("../../img/map-desktop@1x.jpg");
      flex-grow: 1;
    }

    &__btn {
      position: absolute;
      margin: 0;
      left: 175px;
      bottom: 108px;
    }
  }
}
