.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 38px;
  box-sizing: border-box;

  &__text {
    margin: 0;
    margin-right: 29px;
    font-size: 19px;
    line-height: 18px;
    font-weight: 700;
  }

  &__link {
    .reset-link();
    line-height: 0;

    &:hover svg path,
    &:focus svg path {
      fill: @puertorico;
    }

    &:active svg {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 25%;
    justify-content: flex-end;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    width: 200px;
  }
}
