.modal {
  padding: 35px 30px;
  box-sizing: border-box;
  
  text-align: center;
  
  background-color: @white;
}

.modal__filter {
  .reset();
}

.modal__filter-radio {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  
  text-transform: uppercase;
}

.modal__btn {
  color: @white;
  
  background-color: @downy;
  border: none;
}