body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: @font-family;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: @grey;
  background-color: @white;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 9.375%;
}

@media (min-width: @tablet-width) {
  .container {
    padding: 0 50px;/* перевести в проценты */
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1050px;
    margin: 0 auto;
    padding: 0;
  }
}
